{% extends 'registration/base.html' %}
{%block content%}
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cricket</h5>
        <p class="card-text">Thanks for visiting the webpage, please visit again!</p>
        
      </div>
    </div>
  </div>

  <!-- <div class="row">
  <div class="column">
    <div class="card">..</div>
  </div>
  <div class="column">
    <div class="card">..</div>
  </div>
  <div class="column">
    <div class="card">..</div>
  </div>
  <div class="column">
    <div class="card">..</div>
  </div> -->

</div>
{%endblock%}