{%extends 'registration/base.html'%} {% block content %}
<div class="container">
  <div class="row">
    <div class="col mx-1">
      <table class="table table-striped table">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Country</th>
            <th>IPL Team</th>
          </tr>
        </thead>
        <tbody>
          {% for x in dataset %}
          <tr>
            <td>
              <a
                class="player_urls_list"
                href="{% url 'player:PlayerDetail' pk=x.pk %}"
                ><h1>{{x.name}}</h1></a
              >
            </td>
            <td>{{x.Role}}</td>
            <td>
              <img src="{{x.intlteam.flagintl.url}}" alt="UNCAPPED" />
            </td>
            <td>
              <img src="{{x.iplteam.flagipl.url}}" alt="UNCAPPED" />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
